<!doctype html>
<html lang="da">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="$description$">
        <title>$title$</title>
        <link rel="stylesheet" href="/style/main.css" type="text/css">
    </head>
    <body>
        <div>
            <main class="box" role="main">
                $if(menu)$
                    <div class="logo">
                        <a href="/">Til forsiden</a>
                    </div>
                $endif$
                <h1 class="title">$title$</h1>
                $body$
            </main>
        </div>
    </body>
</html>
